---
import Welcome from "../components/Welcome.astro";
import HeroGrid from "../components/HeroGrid.astro";
import GiftCard from "../components/GiftCard.astro";
import Footer from "../components/Footer.astro";
import Parallax from "../components/Parallax.astro";
import Layout from "../layouts/Layout.astro";

import { executeQuery } from "../lib/datocms";

const QUERY = `
{
  landindPage {
    logo {
      url
    }
    ticket {
      url
    }
    hero {
      url
    }
    herogrid {
      url
    }
    giftcard {
      url
    }
    paralaximg {
      url
    }
    footer {
      address
      altEmail
      email
      facebook
      instagram
    }
  }
}
`;

const { landindPage } = await executeQuery(QUERY);

const { herogrid, giftcard, paralaximg } = landindPage;
---

<Layout>
  <Welcome data={landindPage} />

  <div class="relative z-20 bg-white">
    <HeroGrid images={herogrid} />
    <GiftCard images={giftcard} />
    <Parallax image={paralaximg} />
    <Footer />
  </div>
</Layout>
