---
import Layout from "../layouts/Layout.astro";
import LatestNews from "../components/LatestNews.astro";
import { executeQuery } from "../lib/datocms";
import NewsHeading from "../components/NewsHeading.astro";
import NewsGrid from "../components/NewsGrid.astro";
import Spacer from "../components/Spacer.astro";
import Colophon from "../components/Colophon.astro";
import Menu from "../components/Menu.astro";
import NewsHeader from "../components/NewsHeader.jsx";

const QUERY = `
{
  landindPage {
    logo { url }
  }
  allNews(orderBy: _createdAt_DESC, first: 10) {
    newstitle
    newsimg {
      url
    }
    newstype
    subtitle
    newsdate
    newscontent
    newsslug
  }
}
`;

const { allNews, landindPage } = await executeQuery(QUERY);
const latestNews = allNews[0];
const { logo } = landindPage;
---

<Layout>
  <NewsHeader client:load>
    <Menu>
      <img slot="prefix" src={logo.url} class="w-[80px]" style="filter: var(--logo-filter, brightness(0))" />
    </Menu>
  </NewsHeader>

  {latestNews && <LatestNews news={latestNews} />}

  <div id="news-content" class="relative z-20 bg-white">
    <Spacer />
    <NewsHeading />
    <NewsGrid news={allNews} />
    <Colophon />
  </div>
</Layout>
