---
import HeroPicture from "./HeroPicture";
import Menu from "./Menu.astro";

const { data } = Astro.props;
const page = data;
console.log();
---

<!-- Header: stays in place, gets covered by picture on scroll -->
<div class="p-5 sticky top-0 z-0 bg-white">
  <img class="aspect-21/4 w-1/2 mb-5" src={page.logo.url} />
  <Menu />
</div>

<!-- Picture: sticky so it stays in place, herogrid slides on top -->
<HeroPicture heroUrl={page.hero.url} data={data} client:load />

<div class="sticky top-0 z-30 bg-white w-full p-5" style="height: var(--menu-h)">
  <Menu>
    <img slot="prefix" src={page.logo.url} class="w-[80px]" />
  </Menu>
</div>
